body
{
  color: rgba(255, 255, 255, 0);
  background: #3c07ec;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(236, 236, 236);
  width: 350px;
  height: 300px; 
}
#result_hand_name ,#result_hand_name2  
{
  color: rgb(255, 255, 255);
}
.hand_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}


.heading{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}